 <div class="container center" >
   <fieldset >
      <legend > <b>Registration </b> </legend>
      <form name='regForm' novalidate ng-hide='signupCtrl.isSigned()'>

        <input class="form-control" type="text" name="first" placeholder="First Name"
          ng-model="signupCtrl.firstname"
          required
          minlength="2">
          {{ signupCtrl.firstname }}
          <span
            ng-if="(regForm.first.$error.minlength || regForm.first.$error.required) && regForm.first.$touched">
            First Name must be at least 2 characters long
          </span>
          <br>
        <input class="form-control" type="text" name="last" placeholder="Last Name"
          ng-model="signupCtrl.lastname"
          required
          minlength="2">
          {{ signupCtrl.lastname }}
          <span
            ng-if="(regForm.last.$error.minlength || regForm.last.$error.required) && regForm.last.$touched">
            Last Name must be at least 2 characters long
          </span>
          <br>
        <input class="form-control" type="email" name="email" placeholder="Email"
          ng-model="signupCtrl.email"
          required>
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

        <input class="form-control" type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="signupCtrl.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>
        <input class="form-control" type="text" name="favitem" placeholder="Favorite Menu Item"
          ng-model="signupCtrl.favitem"
          required
          minlength="2">
          <!-- {{ signupCtrl.favitem }} -->
          <span
            ng-if="(regForm.favitem.$error.minlength || regForm.favitem.$error.required) && regForm.favitem.$touched">
            Favorite Item must be at least 2 characters long
          </span>
          <span style="margin-top: 10px;" ng-hide='!signupCtrl.valid()'>
              Please enter the valid Menu Item 
          </span>
          <br>
<!-- ng-disabled="!signupCtrl.valid()" -->
        <button  class="btn btn-primary" ng-click="signupCtrl.saveDetails()" ng-disabled="regForm.$invalid" > Submit</button>


      </form>
    </fieldset>


    <div class="container" ng-hide='!signupCtrl.isSigned()'>
      <h2> Successfully Signed Up! <h2>
      <!-- <p> First  Name: {{signupCtrl.getFirstName()}} <p>
      <p> Last Name: {{signupCtrl.getLastName()}} <p>
      <p> Email : {{signupCtrl.getEmail()}} <p>
      <p> Phone: {{signupCtrl.getPhone()}} <p>
      <p> Favorite Item: {{signupCtrl.getFavItem()}} <p> -->
    </div>
</div>
